stages:
  - build
  - test

image: amazoncorretto:21

build:
  stage: build
  tags:
    - docker
  artifacts:
    name: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA
    expire_in: 1 week
    paths:
      - "bin/*"
  script:
    - ./scripts/build.sh

test:
  stage: test
  tags:
    - docker
  dependencies:
    - build
  artifacts:
    name: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA
    expire_in: 1 week
    paths:
      - "jacoco.xml"
  script:
    - ./scripts/test.sh