stages:
  - build # stage 1

image: amazoncorretto:21

build: # Job 1
  stage: build
  tags:
    - docker
  artifacts:
          #     build-main-4claf3b
    name: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA
    expire_in: 1 week
    paths:
      - "bin/*"
  script:
    - ./scripts/build.sh